<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Sitecore.Analytics" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Aggregation" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Core" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Buckets" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Api" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Core" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.ReAggregation" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Reduce" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Integration.Common" version="1.0.46" targetFramework="net472" />
  <package id="Sitecore.Integration.Common.NoReferences" version="2.2.160927" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Speak.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Configuration" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.ReportingClient" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.MarketingAutomation.ReportingClient.Configuration" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Xdb.Reporting" version="10.1.0" targetFramework="net48" />
</packages>