<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net451" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net451" />
  <package id="Kamsar.WebConsole" version="2.0.0" targetFramework="net452" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net452" />
  <package id="RestSharp" version="104.2.0" targetFramework="net462" />
  <package id="Sitecore.Analytics" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Core" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Analytics.Model" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.ContentSearch" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.ContentSearch.Linq" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Integration.Common.NoReferences" version="2.2.160927" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Mvc" version="9.2.0" targetFramework="net472" />
  <package id="Sitecore.Services.Infrastructure" version="9.2.0" targetFramework="net472" />
</packages>